{% load static %}
{# clear side imagery, no wash — rotates through the client's shots, leading with the code this group actually tips #}
<div class="page-scenes" aria-hidden="true">
  {% if primary_sport == "Rugby League" %}
  <div class="scene left">
    <div class="shot on" style="background-image:url('{% static 'img/scenes/nrl-goal-posts.jpg' %}')"></div>
    <div class="shot" style="background-image:url('{% static 'img/scenes/nrl-ball-grass.jpg' %}')"></div>
    <div class="shot" style="background-image:url('{% static 'img/stadium-night.jpg' %}')"></div>
  </div>
  <div class="scene right">
    <div class="shot on" style="background-image:url('{% static 'img/nrlw-players.jpg' %}')"></div>
    <div class="shot" style="background-image:url('{% static 'img/scenes/nrl-posts-sunset.jpg' %}')"></div>
    <div class="shot" style="background-image:url('{% static 'img/scenes/aussie-crowd-flag.jpg' %}')"></div>
  </div>
  {% else %}
  <div class="scene left">
    <div class="shot on" style="background-image:url('{% static 'img/scenes/afl-goal-posts.jpg' %}')"></div>
    <div class="shot" style="background-image:url('{% static 'img/scenes/afl-training.jpg' %}')"></div>
    <div class="shot" style="background-image:url('{% static 'img/stadium-night.jpg' %}')"></div>
  </div>
  <div class="scene right">
    <div class="shot on" style="background-image:url('{% static 'img/scenes/mcg-stadium.jpg' %}')"></div>
    <div class="shot" style="background-image:url('{% static 'img/scenes/aussie-crowd-flag.jpg' %}')"></div>
    <div class="shot" style="background-image:url('{% static 'img/nrlw-players.jpg' %}')"></div>
  </div>
  {% endif %}
</div>
