{% extends "base.html" %}
{% block container_class %}container-tiny{% endblock %}
{% block content %}
<div class="card text-center" style="padding:48px;margin-top:64px">
  <span class="t-micro text-accent">You've been invited</span>
  <h1 class="t-h1 mt-3 mb-3">Join {{ org.name }}</h1>
  <p class="t-body text-secondary mb-2">100% of entry goes to</p>
  <p class="t-h2 text-accent mb-6">{{ org.charity_name }}</p>
  <div class="stack gap-3">
    <a href="{{ signup_url }}" class="btn-primary btn-lg">Sign up &amp; join</a>
    <a href="{% url 'accounts:login' %}" class="link t-small">Already have an account? Log in</a>
  </div>
</div>
{% endblock %}
